Thumbs.db
*.iso
*.bin
*.cue
*.mdf
*.mds
*.mp3
*.wav
*.ape
*.z64
*.n64
*.toc
*.txt
*.info
*.cfg
*.cdi
*.nrg
*.gdi
*.raw
*.ccd
*.img
*.sub
*.rar
*.zip
*.7z
*.sfv
*.nfo
*.gcm
*.pyc
db/*
downloads/*
images/*
emulators/*
server/build/
server/dist/
server_exe/
